pkgbase = verso-coder
	pkgdesc = Yerel öncelikli Qt6 kod editörü — çok sağlayıcılı AI, ajan, LSP, Git
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/versochar/verso-coder
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = pkgconf
	depends = qt6-base
	depends = qt6-svg
	depends = qt6-websockets
	depends = qt6-declarative
	depends = hunspell
	depends = hicolor-icon-theme
	optdepends = clangd: C/C++ dil sunucusu
	optdepends = pyright: Python dil sunucusu
	optdepends = rust-analyzer: Rust dil sunucusu
	optdepends = gopls: Go dil sunucusu
	optdepends = bwrap: ajan salt-okunur kipi
	source = verso-coder-1.0.4.tar.gz::https://github.com/versochar/verso-coder/archive/refs/tags/v1.0.4.tar.gz
	sha256sums = 646ebd58787f5a2e8cb8a4fdd72a0bd8f763eb071b6a54c43dcfe446d3a445dc

pkgname = verso-coder
