pkgbase = verso-coder
	pkgdesc = Yerel öncelikli Qt6 kod editörü — çok sağlayıcılı AI, ajan, LSP, Git
	pkgver = 1.0.3
	pkgrel = 1
	url = https://github.com/versochar/verso-coder
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = pkgconf
	depends = qt6-base
	depends = qt6-svg
	depends = qt6-websockets
	depends = qt6-declarative
	depends = hunspell
	depends = hicolor-icon-theme
	optdepends = clangd: C/C++ dil sunucusu
	optdepends = pyright: Python dil sunucusu
	optdepends = rust-analyzer: Rust dil sunucusu
	optdepends = gopls: Go dil sunucusu
	optdepends = bwrap: ajan salt-okunur kipi
	source = verso-coder-1.0.3.tar.gz::https://github.com/versochar/verso-coder/archive/refs/tags/v1.0.3.tar.gz
	sha256sums = 3d62828345c7b565e06758b2fd390182d431aec0ccec4fe4935a1f0e1d573e22

pkgname = verso-coder
